* {
  font-size: 16px;
  box-sizing: border-box;
}

.grid-container {
  min-width: 320px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "nav"
    "main";
  font-family: 'PT Sans',
    sans-serif;
}

#home,
#bar-chart,
#members,
#settings,
.social-image {
  display: block;
  width: 35px;
  height: 35px;
}

header {
  grid-area: header;
  width: 100%;
  min-height: 50px;
  background-color: #7577BF;
  color: whitesmoke;
}

.header-list-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0px auto;
  padding: 0px;
}

.header-list-first {
  margin-right: auto;
}

.header-title {
  font-size: 1.1rem;
}

.app-span,
.trade-span {
  font-weight: 300;
}

.main-nav {
  grid-area: nav;
  background-color: #4D4C71;
}

main {
  display: grid;
  grid-area: main;
}

.mock-graphs {
  width: 200px;
}

.widget-container-full,
.widget-container-half {
  width: 95vw;
}

.bell-container {
  display: flex;
  align-items: center;
  width: 35px;
  height: 35px;
  border-right: 1px solid lightgrey;
}

#bell {
  width: 25px;
  height: 25px;
}

.profile-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.student-name {
  font-weight: 300;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding-left: 0px;
}

.dashboard-header {
  display: flex;
}

.dashboard-headline {
  padding: 0px 12px 0px 12px;
  font-weight: 300;
}

.grey-tab {
  flex: 1;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  background-color: #F7F7F7;
}

header svg,
nav svg {
  fill: whitesmoke;
}

#alert {
  background-color: #7577BF;
}

.traffic-nav {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding-left: 0px;
}

.traffic-section,
.daily-traffic-section,
.mobile-users-section,
.social-stats-section,
.members-section,
.activity-section,
.message-section {
  border-bottom: 1px solid lightgray;
}

.social-stats-section svg {
  fill: #7577BF
}

.section-title {
  font-weight: 300;
}

.members-list {
  list-style-type: none;
  padding-left: 0px;
}

.members-list li:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.members {
  text-align: center;
}


























/* MEDIA QUERIES */
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      "header header"
      "nav main";
  }

  .main {
    grid-template-columns: 50%;
  }

  .traffic-section,
  .social-stats-section {
    grid-column: 1 / span 2;
  }

  .daily-traffic-section,
  .members-section,
  .message-section {
    grid-column: 1 / span 1;
  }

  .mobile-users-section,
  .activity-section,
  .settings-section {
    grid-column: 2 / span 1;
  }

  .widget-container-full {
    width: 90vw;
  }

  .widget-container-half {
    width: 45vw;
  }
}